{% extends 'core/base.html' %}

{% block title %}{{page.title}}{% endblock %}

{% block content %}
<section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content mbtm">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5 forced">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">{{page.title}}</span>
                </h2>
                <div class="section-content">
                    {{ page.content|safe }}
                    {% if user.is_authenticated %}
                      <p><a href="{% url 'admin:pages_page_change' page.id %}">Editar</a></p>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}